
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*
!.env.example

.venv/
venv/

# Django
db.sqlite3
media/
media/curation_videos/
staticfiles/
__pycache__/
*.pyc
media/
secrets/
secrets/fcm-service-account.json
